body {
    padding-bottom: 20px;
    background-color: #e9f0f5 !important;
    font-family: open sans,sans-serif !important;
}


}
.btn:focus, .btn:active {
    outline: none !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

.innertext{
    padding:0 !important;
    margin:0 !important;
}

.question-header {
    padding: 10px 20%;
    background: #303e49;
    color:white;
}

.question-header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}

    .question-header textarea {
        margin-top:10px;
        width:100%;
        height:100px;
        color:black;
        padding:20px;
        border-radius:5px;
    }