body {
    padding-bottom: 20px;
}
.btn:focus, .btn:active {
    outline: none !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}


.question {
    position: relative;
    background: #ececec;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    margin:20px 0;
    width:70%;
}

.question:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1.2em solid transparent;
    border-right-color: #ececec;
    border-left: 0;
    border-top: 0;
    margin-left: -1.2em;
}

.questiontext {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 150%;
    padding: 20px;
    text-align: center;
}