﻿@model RumourMill.Models.LeaderErrors

@{
    ViewBag.Title = "The Grapevine - Change Password";

}

@Html.ValidationSummary(true)
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <style>
        body {
            background: #2d343d !important;
        }

        #field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="loginPage">
    <form action="~/Home/ChangePassword" method="post" class="login">

        <h1 class="login-title">Change Password</h1>

        <input type="hidden" id="LeaderId" name="LeaderId" value="@User.Identity.GetUserId()">


        <input type="password" class="login-input" id="currentPassword" name="currentPassword" value="" placeholder="Current Password" autofocus>


        <input type="password" class="login-input" id="newPassword" name="newPassword" value="" placeholder="New Password" autofocus>

        <input type="password" class="login-input" id="newPasswordConfirm" name="newPasswordConfirm" value="" placeholder="Confirm New Password" autofocus>



        <input type="submit" class="login-button" name="name" id="SubmitButton" value="Change Password"/>

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>

